.blog-album {
    .el-tabs{
        padding: 20px 400px;   //确定内容界面大小

        .row-space {
            padding: 5px; 

            .photo_list-card {
                margin: 10px;
            }
        }

        .el-tabs__nav-scroll {
            display: flex;
            justify-content: center;    //居中显示标签页
        }

        .el-tabs__content {
            margin: 0 10px;
            background-color: #ffffffe4;

            padding: 32px;
            border-radius: 1%;
            color: #6b778c;
            font-size: 32px;
            font-weight: 600;
        }

        .el-tabs__item {
            height: 100px;
            font-size: 25px;
        }
    }
}