body{
    margin: 0;
    background-color: var(--bg-color);
    transition: background-color 0.5s ease;

    overflow-x: hidden;   // 去除默认的横向滚动条

    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB','Microsoft YaHei', '微软雅黑', Arial, sans-serif;

    //返回顶部
    .el-backtop{
        background-color: #00a6ff;
        color: #ffffff;
        z-index: 1002;       //返回顶部图层

        .el-icon{      //箭头 
            font-size: 25px;
            width: 40px;     //悬浮生效范围
            height: 40px;
        }

        :hover{
            color:#00a6ff    //悬浮箭头颜色
        }
    }

    //页脚
    .footer {
        margin-bottom: 20px;
        width: 100vw;
        text-align: center;
        
        p {
            font-size: calc(0.5rem + 10px);
            color: var(--text-color)
        }
    }
}

.app{
    header {
        // background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: right;   // 将文本对齐方式设置为右对齐
        position: fixed;  //导航栏固定在顶部
        width: 100%;
        height: auto;
        z-index: 1006;

        transition: background 0.7s cubic-bezier(0.4, 0, 0.2, 1),  //导航栏透明度平滑变换
                    transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);   // 平滑显示与隐藏效果（使用贝塞尔曲线函数）
        will-change: transform;  //  预通知浏览器进行优化
        transform: translateZ(0);   // 触发GPU加速

        nav ul {
            display: flex;
            flex-direction: row;
            // justify-content: flex-end;  // 使ul右对齐
            justify-content: center;   // 使ul居中
            margin: 0;
            padding: 0 20px;    //导航栏选项最右边边距
            transition: background 0.5s ease-in-out;    // 鼠标悬浮导航栏时更改背景色透明度

            &:hover {
                background: rgba(0, 0, 0, 0.3);
            }

            li {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 75px;      //限制标签选项宽度
                border-radius: 3px;

                .search {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    display: flex;    // 使搜索图标居中

                    &:hover {
                        color: rgb(132, 189, 255);
                    }
                }

                a{
                    color: white;
                    text-decoration: none;
                    padding: 15px 0;
                    margin: 0 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    svg {
                        display: flex;
                        flex: 1;
                    }
                    
                    p {
                        display: flex;
                        justify-content: center;
                        flex: 2;
                        margin: 0;
                        font-size: 15px;
                    }

                    &:hover {
                        color: rgb(132, 189, 255);
                    }
                }
            }
        }
    }   

    .music {
        display: flex;
        flex-direction: row;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 1003;
        transition: transform 0.5s ease-in-out;

        .aplayer {
            width: 300px;
        }

        .arrow {
            display: flex;
            justify-content: start;
            align-self: center;
            opacity: 0.3;
            color: var(--text-color);

            &:hover {
                opacity: 1;
            }
        }
    }
}

.active {
    border-bottom: 5px solid rgb(132, 189, 255);    // 给当前激活的标签页链接加上底部边框
}

.el-form-item {
    display: flex;
    flex-direction: row;

    .el-form-item__content {
        display: flex;
        justify-content: space-between; 
    }

    .el-input {
        width: 85%;
    }

    .el-button {
        width: 10%;
        margin-left: auto; // 使用 margin-left: auto 将 .el-button 推到结束位置
    }

    #search-results {
        width: 100%;
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {
    .app {
        li {
            a {          //导航栏设置
                flex-direction: column;

                svg {
                    width: 4rem;
                }

                p {
                    font-size: 2rem !important;
                }
            }
        }
    }
}
