.blog-friend-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-friend-links-header {
        width: 100vw;
        height: 20rem;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            position: absolute;
            color: #ffffff;
            font-size: 2.5rem;
        }
    }

    .about-card {
        width: calc(25rem + 200px);
        margin-top: 2rem;
        margin-bottom: 20px;

        h2 {
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: calc(1rem + 20px);
        }

        p {
            font-size: calc(0.5rem + 10px);
        }

        .button-container {    //布局按钮位置
            display: flex;
            flex-direction: row;
            justify-content: end;
        }
    }

    .friends-card {
        width: calc(25rem + 200px);

        .el-card__body {
            padding: 1rem;

            .friend-card {
                margin: 10px;
            }
        }  
    }
}

@media screen and (max-width: 768px) {
    .blog-friend-links {
        .blog-friend-links-header {
            height: 40rem;

            h1 {
                font-size: 4rem;
            }
        }
    }
}