/* 用于markdown样式的设置 */

/* 列表样式 */
ul, ol {
    margin: 10px 0;
    padding-left: 1.5rem;
}

ul ul, ol ul, ul ol, ol ol {
    padding-left: 20px;
}

/* 强调样式 */
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

/* 代码块样式 */
pre {
    background-color: var(--article-bg-color) !important;
    border: 1px solid #ddd;
    padding: 8px;
    overflow-x: auto;
    font-family: "Courier New", monospace;
}

code {
    background-color: var(--article-bg-color);
    color: var(--text-color);
    padding: 2px 4px;
    border-radius: 4px;
    font-family: "Courier New", monospace;
}

pre code {
    background-color: transparent;
    padding: 0;
}

/* 块引用样式 */
blockquote {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: var(--article-bg-color);
    border-left: 0.25rem solid #63ca34;
}

/* 表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {          /* 标题 */
    background-color: #f2f2f2;
}
.dark-mode th {
    background-color: #222222
}

tr:nth-child(even) {       /* 行 */
    background-color: #f9f9f9;
}
.dark-mode tr:nth-child(even) {
    background-color: #414141
}

tr:hover {
    background-color: #ddd;
}
.dark-mode tr:hover {
    background-color: #5c5c5c;
}