/* 全局样式 */
:root {
    --wave-one-color: rgba(235.9,245.3,255, 0.7);
    --wave-two-color: rgba(235.9,245.3,255, 0.5);
    --wave-three-color: rgba(235.9,245.3,255, 0.3);
    --wave-four-color: rgba(235.9,245.3,255, 1);

    --button-hover-shadow-color: rgb(193, 222, 255);
    --button-transition-duration: 0.3s;
}


/* 自定义滚动条样式 */
/* 适用于 WebKit 浏览器（如 Chrome 和 Safari） */
::-webkit-scrollbar {
    width: 5px;  /* 滚动条（数轴）宽度 */
    height: 5px;   /* 滚动条（横轴）高度 */
}

::-webkit-scrollbar-track {
    background: var(--el-color-primary-light-9)  /* 滚动条轨道背景色 */
}

::-webkit-scrollbar-thumb {
    background: #48bfff;  /* 滚动条滑块背景色 */
    border-radius: 5px;  /* 滚动条滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
    background: #00a6ff;  /* 滚动条滑块悬停背景色 */
}


/* 自定义标签样式 */
/* 链接样式 */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {     
    margin: 0;
    margin-bottom: 10px;
}

p {
    line-height: 1.6; /* 调整行间距，1.6 是一个常见的值 */
    margin-bottom: 16px; /* 调整段落之间的间距 */
}