/* 全局样式 */
:root {
    --bg-color: #EBF5FF;
    --text-color: #252525;
    --article-bg-color: #f8f8f8;

    --wave-one-color: rgba(235.9,245.3,255, 0.3);
    --wave-two-color: rgba(235.9,245.3,255, 0.5);
    --wave-three-color: rgba(235.9,245.3,255, 0.7);
    --wave-four-color: rgba(235.9,245.3,255, 1);

    --article-one-color: rgba(255, 255, 255, 0);
    --article-two-color: rgba(255, 255, 255, 0.5);
    --article-three-color: rgba(255, 255, 255, 0.8);
    --article-four-color: rgba(255, 255, 255, 1);

    --button-hover-shadow-color: rgb(193, 222, 255);
    --button-transition-duration: 0.3s;
}

.dark-mode {
    --bg-color: #31333a;
    --text-color: #e6e6e6;
    --article-bg-color: #5c5c5c;

    --wave-one-color: rgba(49, 51, 58, 0.3);
    --wave-two-color: rgba(49, 51, 58, 0.5);
    --wave-three-color: rgba(49, 51, 58, 0.7);
    --wave-four-color: rgba(49, 51, 58, 1);

    --article-one-color: rgba(51, 51, 51, 0);
    --article-two-color: rgba(51, 51, 51, 0.5);
    --article-three-color: rgba(51, 51, 51, 0.8);
    --article-four-color: rgba(51, 51, 51, 1);

    .el-card {
        background-color: #333333;
        box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.12);
    }

    .el-tabs__content {
        background-color: #333333;
        box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.12);
    }
}



/* 自定义滚动条样式 */
/* 适用于 WebKit 浏览器（如 Chrome 和 Safari） */
::-webkit-scrollbar {
    width: 5px;  /* 滚动条（数轴）宽度 */
    height: 5px;   /* 滚动条（横轴）高度 */
}

::-webkit-scrollbar-track {
    background: var(--el-color-primary-light-9)  /* 滚动条轨道背景色 */
}

::-webkit-scrollbar-thumb {
    background: #48bfff;  /* 滚动条滑块背景色 */
    border-radius: 5px;  /* 滚动条滑块圆角 */
}

::-webkit-scrollbar-thumb:hover {
    background: #00a6ff;  /* 滚动条滑块悬停背景色 */
}


/* 自定义标签样式 */
/* 链接样式 */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {     
    margin: 0;
    margin-bottom: 10px;
}

p {
    line-height: 1.6; /* 调整行间距 */
    margin-bottom: 16px; /* 调整段落之间的间距 */
}
